{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-4 col-md-2 sidebar">
            <h2 class="admin-nav-header">Admin Nav</h2>
            <ul class="nav">
                <li class="active"><a href="{{ path('admin') }}">Overview <span class="sr-only">(current)</span></a></li>
                <li><a href="{{ path('product_list') }}">Products</a></li>
            </ul>
        </div>
        <div class="col-xs-7 col-md-8">
            <h1 class="text-center">Admin</h1>
            <p>Welcome to your Raptor Store! Sales are up!</p>
        </div>
    </div>
{% endblock %}