{% extends 'base.html.twig' %}

{% block sidebar %}{% endblock %}

{% block body %}
    <section>
        <h1 class="text-center">Welcome to the Raptor Store</h1>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h2>
                    {% if search is defined %}
                        {% if products is not empty %}
                            Products matching "{{ search }}"
                        {% else %}
                            No products found
                        {% endif %}
                    {% else %}
                        Today's sweet products:
                    {% endif %}
                </h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.name }}</td>
                            <td>${{ product.price|number_format(2) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}